.footer {
  background: #808080;
  height: 110px;
  color: $white;
  text-align: center;
  padding-top: 8px;
  position: relative;
  a {
  font-size: 50px;
  color: $white;
  }
  ul {
    margin-bottom: -1px;
  }
  a:hover {
    color: $red;
  }
}