<div class="text-center">
  <h1>Our Team</h1>
    <%= team = %w(Boris Seb Anne) %>
  <ul class="list-inline">
    <li>
      <% team.each do |member| %>
        <% member %>
    <%end%>
      <img src="http://placehold.it/100" alt="">
    </li>
    <li>
      <h2>Boris</h2>
      <img src="http://placehold.it/100" alt="">
    </li>
    <li>
      <h2>Anne</h2>
      <img src="http://placehold.it/100" alt="">
    </li>
  </ul>
</div>